body{
	padding: 0;
	margin: 0;
	font-family: 'Microsoft Yahei UI'
}
.html_family body{
	font-family: 'Helvetica';
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.wrapper{
	overflow: hidden;
}
.bgCover{
	background-size: cover;
	background-position: center;
}
.container{
	width: 1170px;
	margin: auto;
}
@media(max-width: 1200px){
	.container{
		width: 992px;
	}
}
@media(max-width: 992px){
	.container{
		width: 768px;
	}
}
@media(max-width: 768px){
	.container{
		width: 480px;
	}
}
@media(max-width: 480px){
	.container{
		width: 95%;
	}
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9;
	transition: 0.3s;
	z-index: 100;
}
header.stick{
	background-color: #000;
}
header .headerWrap{}
header .headerWrap .container{
	display: flex;
	justify-content: space-between;
	align-items: center; 
	position: relative;
}
header .headerWrap img{
    width: 90px;
    transform: translateX(540px);
    opacity: 0;
}
header.stick .headerWrap img{
	transform: translate(0);
    transition: 0.8s;
	opacity: 1;
}
header .headerWrap ul.menuUl{
	display: flex;
}
header .headerWrap ul.menuUl li > a{
	padding: 16px 8px;
	margin: 0px 13px;
	display: block;
}
header .headerWrap ul.menuUl li > span{
	padding: 16px 4px;
	margin: 0px 13px;
	display: block;	
}
header .headerWrap ul.menuUl li a,
header .headerWrap ul.menuUl li span{
	color: #fff;
}
header .headerWrap ul.menuUl li span img{
    margin: 2px 5px;
    opacity: 1;
    transform: translateX(0);
    width: 20px;
    vertical-align: middle;
}
header nav{
	width: 35px;
	height: 27px;
	display: block;
	position: absolute;
	right: 5px;
	z-index: 99;
	display: none;
}
header nav b{
	position: absolute;
	width: 100%;
	height: 4px;
	display: block;
	background-color: #fff;
	border-radius: 2px;
	transition: 0.3s;
}
header nav b:nth-child(1){
	top: 0;
}
header nav b:nth-child(2){
	top: calc(50% - 2px);
}
header nav b:nth-child(3){
	bottom: 0;
}
header nav.active b:nth-child(1){
	transform: translateY(11px)rotate(45deg);
}
header nav.active b:nth-child(2){
	transform: translateX(50%);
	width: 0;
}
header nav.active b:nth-child(3){
	transform: translateY(-13px)rotate(-45deg);
}

@media(max-width:768px){
	header nav{
		display: block;
	}
	header .headerWrap ul.menuUl{
	    transform: translateY(-470px)rotate(-3deg);
	    transform-origin: left bottom;
	    transition: 0.3s;
		position: fixed;
	    width: 100%;
	    left: 0;
	    flex-direction: column;
	    top: 60px;
	    text-align: right;
	    opacity: 0;
	    pointer-events: none;
	}
	header{
		background-color: #000;
	}
	header .headerWrap .container{
		justify-content: center;
		padding: 13px 0;
	}
	header .headerWrap img{
		opacity: 1;
		transform: translate(0);
		position: relative;
		z-index: 99;
	}
	header .headerWrap ul.menuUl li{
		background-color: rgba(0,0,0,0.5);
	    padding-right: 100px;
	    width: 100%;
	}
	header .headerWrap ul.menuUl.active{
	    transform: translate(0);
	    opacity: 1;
	    pointer-events: all;
	}
}
.videofix{
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.videofix.vertical video{
	min-width: 100%;
	min-height: unset;
}
.videofix.horizontal video{
	min-height: 100%;
	min-width: unset;
}
.HomeHeroVideo{
	position: relative;
	height: 100vh;
}
.HomeHeroVideo .layout{
	position: absolute;
	z-index: 10;
	color: #fff;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.HomeHeroVideo .layout .container{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.HomeHeroVideo .layout article{
	text-align: center;
	max-width: 680px;;
}
.HomeHeroVideo .layout article img{
	width: 180px;
	margin-bottom: 17px;}
.HomeHeroVideo .layout article h1{
	font-size: 40px;
	margin-bottom: 10px;;
}
.HomeHeroVideo .layout article p{
	font-weight: 100;
	font-size: 18px;
	line-height: 1.8;
	letter-spacing: 1px;}
.HomeHeroVideo .homeSlider{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.HomeHeroVideo .homeSlider ul{
	height: 100vh;
}
.HomeHeroVideo .homeSlider ul li{}
.HomeHeroVideo .homeSlider ul li div{
	height: 100%;
}
.HomeHeroVideo .homeSlider .slide1{
	background-image: url('/img/upload/slide1.jpg');
}
.HomeHeroVideo .homeSlider .slide2{
	background-image: url('/img/upload/slide2.jpg');
}
.HomeHeroVideo .homeSlider .slide3{
	background-image: url('/img/upload/slide3.jpg');
}
.HomeHeroVideo .homeSlider .slide4{
	background-image: url('/img/upload/slide4.jpg');
}
@media(max-width:480px){
	.HomeHeroVideo .layout article h1{
	    font-size: 25px;
	}
	.HomeHeroVideo .layout article p{
	    font-size: 13px;
	}
	.HomeHeroVideo .homeSlider .slide1{
	background-image: url('/img/upload/1.jpg');
	}
	.HomeHeroVideo .homeSlider .slide2{
		background-image: url('/img/upload/2.jpg');
	}
	.HomeHeroVideo .homeSlider .slide3{
		background-image: url('/img/upload/3.jpg');
	}
	.HomeHeroVideo .homeSlider .slide4{
		background-image: url('/img/upload/4.jpg');
	}
}
.HomeAboutUs{
	height: 600px;
	position: relative;
	background-color: #1b1d25;
	box-shadow: 0px -4px 15px #00000073;}
.HomeAboutUs .bg{
	height: 100%;
	display: flex;
	justify-content: flex-end;
	}
.HomeAboutUs .bg .bgCover{
	width: 100%;
	/*width: 50%;*/
	height: 100%;}
.HomeAboutUs .content{
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;}
.HomeAboutUs .content .flex{
	display: flex;
	height: 100%;
	align-items: center;}
.HomeAboutUs .content .info{
	/*width: calc(50% - 120px);
	padding: 0 60px;*/
	width: 100%;
	max-width: 992px;
	color: #fff;}
.HomeAboutUs .content .info h2{
	margin-bottom: 40px;
	font-size: 27px;
	font-weight: 400;
	letter-spacing: 1px;}
.HomeAboutUs .content .info p{
	font-weight: 500;
	line-height: 1.7;
	font-size: 15px;}
@media(max-width:768px){
	.HomeAboutUs{
		height: auto;
		display: flex;
		flex-direction: column-reverse;
	}
	.HomeAboutUs .bg{
		display: none;
		height: 400px;
	}
	.HomeAboutUs .bg .bgCover{
		width: 100%;
	}
	.HomeAboutUs .content{
		position: relative;
	}
	.HomeAboutUs .content .info{
		width: 100%;
		padding: 40px 0;
	}
}
@media(max-width:480px){
	.HomeAboutUs .content{
		text-align: center;
	}
	.HomeAboutUs .content .info p{
		font-size: 13px;
		text-align: center;
	}
}
.homeDescription{
	height: 550px;
	display: flex;
	text-align: center;}
.homeDescription .container{}
.homeDescription img{
	width: 17px;
}
.homeDescription .container div:first-child{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin:auto;
	margin-bottom: 20px;
	transform: scaleY(-1);
    max-width: 992px;
}
.homeDescription .container div:last-child{
	display: flex;
	align-items: center;
	margin:auto;
	margin-top: -25px;
	transform: rotate(180deg)scaleY(-1);
    max-width: 992px;
}
.homeDescription p{
	max-width: 700px;
	margin: auto;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 1.7;}
.homeDescription span{
	margin-top: 15px;
	display: block;
	font-size: 17px;
	color: #888;
	letter-spacing: 1px;}
.homeDescription h2{
	font-weight: 800;
}
@media(max-width:480px){
	.homeDescription p{
		font-size: 13px;
	}
	.homeDescription h2{
		font-size: 20px;
	}
}
.homePhoneIntro{
	height: 800px;}
.homePhoneIntro .container{
	height: 100%;}
.homePhoneIntro .container article{
	flex: 1;
	width: 50%;
	display: flex;
	align-items: center;}
.homePhoneIntro .flex{
	display: flex;
	height: 100%;}
.homePhoneIntro .info{
	color: #fff;}
.homePhoneIntro .info h2{
	margin-bottom: 40px;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 1px;}
.homePhoneIntro .info p{
	font-weight: 500;
	line-height: 1.7;
	text-align: justify;
	letter-spacing: 1px;
	font-size: 15px;
}
.homePhoneIntro .phone{
	height: 100%;
	margin-left: 20%;
}
.homePhoneIntro .phone img{
    max-height: 80%;
    margin-top: 10%;
    display: block;
}
@media(max-width:992px){
	.homePhoneIntro .container article{
		width: 50%;
	}
	.homePhoneIntro .phone img{
		max-height: 60%;
		margin-top: 20%;
	}
}
@media(max-width:768px){
	.homePhoneIntro{
		height: 500px;
	}
	.homePhoneIntro .container article{
		width: 100%;
	}
	.homePhoneIntro .container article:last-child{
		display: none;
	}
}
@media(max-width:480px){
	.homePhoneIntro .info h2{
		text-align: center;
	}
	.homePhoneIntro .info p{
		font-size: 13px;
		text-align: center;
	}
}
.homeDarkDecription{
	background-color: #1c1e25;
	height: 600px;
	color:#fff;
}
.homeDarkDecription .container{
	/*display: flex;*/
	/*height: 100%;*/
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.homeDarkDecription p{
	font-weight: 100;
	line-height: 1.7;
	letter-spacing: 1px;
	font-size: 15px;
	text-align: center;
	max-width: 920px;;
}
.homeDarkDecription h2{
    font-size: 32px;
    margin-bottom: 12px;
    letter-spacing: 2px;
}
.homeDarkDecription h3{
    font-size: 20px;
	text-align: center;
    letter-spacing: 2px;
	line-height: 1.7;
    margin-bottom: 12px;
}
.homeSwipe{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeSwipe .swiperUl li a{
	display: flex;
	width:80%;
	margin:0 10%;
	height: 300px; 
	align-items: center;
	justify-content: center;
}
.homeSwipe .swiperUl li img{
	max-width: 100%;
	max-height: 100%;
}
.homeOurUsers{
	height: 600px;
	color:#ffffffe6;
}
.homeOurUsers .container{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.homeOurUsers h1{
	font-size: 60px;
	font-family: sans-serif;
	margin-bottom: -3px;}
.homeOurUsers h2{
	font-size: 35px;
	letter-spacing: 1px;}
.homeBuyer{
	height: 650px;
}
.homeBuyer .container{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.homeBuyer h2{
	color: #fff;
	font-size: 40px;
	margin-bottom: 50px;
    min-width: 310px;
}
.homeBuyer .cardBlock{
    position: relative;
    height: 250px;
}
.homeBuyer .cardBlock .card{
	width: 250px;
	height: 250px;
	padding: 20px;
	background-color: #fff;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 9px #0000008c;
    position: absolute;
    left: calc(20px);
    transition: 0.5s;
}
.homeBuyer .cardBlock .card h1{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 15px;}
.homeBuyer .cardBlock .card h4{
	font-size: 18px;
	letter-spacing: 3px;
	margin-bottom: 4px;}
.homeBuyer .cardBlock .card p{
	font-weight: 100;
	margin-bottom: 15px;}
.homeBuyer .cardBlock .card span{
	display: flex;
	width: 80%;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	height: 45px;
	background-color: #b5ebff;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}
.homeBuyer .cardBlock .card .small_qr{
	display: none;
    height: 90px;
}
.homeBuyer .cardBlock .card:nth-child(1){
	z-index: 1;
}
.homeBuyer .cardBlock .card:nth-child(2){
	z-index: 0;
}
.homeBuyer .cardBlock.active .card:nth-child(1){
    transform: translateX(-53%);
}
.homeBuyer .cardBlock.active .card:nth-child(2){
    transform: translateX(53%);
}
@media(max-width:768px){
	.homeBuyer .cardBlock .card:nth-child(2){
		display: none;
	}
	.homeBuyer .cardBlock.active .card:nth-child(1){
	    transform: translateX(0);
	}
	.homeBuyer .cardBlock .card span{
		display: none;
	}
	.homeBuyer .cardBlock .card .small_qr{
		display: block;
	}
}

.homeEnquiry{
	height: 600px;
	position: relative;
	box-shadow: 0px -4px 15px #00000073;}
.homeEnquiry .bg{
	height: 100%;
	display: flex;
	justify-content: flex-start;
	background-color: #1b1d25;}
.homeEnquiry .bg .bgCover{
	width: 50%;
	height: 100%;}
.homeEnquiry .content{
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	height: 100%;}
.homeEnquiry .content .flex{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: flex-end;
}
.homeEnquiry .content .flex > div{
	width: 50%;
}
.homeEnquiry .content form{
	padding-left: 140px;}
.homeEnquiry .content h2{
	color: #fff;
	font-size: 35px;
	margin-bottom: 30px;}
.homeEnquiry .content .inputGroup{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	border-bottom: 1px solid #fff;
	padding-bottom: 4px;
	margin-bottom: 20px;
}
.homeEnquiry .content .inputGroup input{
	width: 100%;
    background: transparent;
    color: #fff;
    border: 0;
    outline: none;
    padding: 4px;
    margin-left: 7px;}
.homeEnquiry .content .inputGroup input + label,
.homeEnquiry .content .inputGroup.textarea textarea + label{
	color: #fff;
	white-space: nowrap;
	transition: 0.3s;}
.homeEnquiry .content .inputGroup input:focus + label,
.homeEnquiry .content .inputGroup.textarea textarea:focus + label{
	color: #b5ebff;;}
.homeEnquiry .content .inputGroup.textarea{
	flex-direction: column-reverse;}
.homeEnquiry .content .inputGroup.textarea textarea{
	background: transparent;
	border: 0;
	color: #fff;
	height: 80px;
	margin-top: 5px
    outline: none;}
.homeEnquiry .content .btnBlock{
	display: flex;
	justify-content: flex-end;
}
.homeEnquiry .content .btnBlock .btn{
	border: 0;
	background-color:#b5ebff;
	color: #1b1d25;
	padding: 12px 40px;
	border-radius: 20px;
	cursor: pointer;
}
@media(max-width:768px){
	.homeEnquiry .bg .bgCover{
		display: none;
	}
	.homeEnquiry .content .flex > div{
		width: 100%;
	}
	.homeEnquiry .content form{
		padding: 0;
	}
	/*.videofix.horizontal video{
		display: none;
	}
	.HomeHeroVideo .homeSlider{
	display: block;}*/
}
@media(max-width:480px){
	.homeEnquiry .content h2{
		text-align: center;
	}
}


/*2018-6-28*/
/*name:kun*/
.homeDarkDecription .container div:first-child{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin:auto;
	margin-bottom: 20px;
	transform: scaleY(-1);
    max-width: 992px;
}
.homeDarkDecription .container div:last-child{
	display: flex;
	align-items: center;
	margin:auto;
	margin-top: -25px;
	transform: rotate(180deg)scaleY(-1);
    max-width: 992px;
}
.homeDarkDecription img {
    width: 17px;
}
.homeDarkDecription{
    display: flex;
}
